html {
	font-size: 100px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	/*background: #ffffff;*/
	
	font-size: 0.28rem;
	position: relative;
	height: 100%;
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #999;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*	min-height: 7.05rem;*/
}
.wrap {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: none;
}
.fullWidth {
	width: 100%;
	display: block;
}
.vCenter {
	position: absolute;
	height: 7.05rem;
	width: 100%;
	top: 50%;
	margin-top: -3.525rem;
}
.logo {
	position: absolute;
	z-index: 20;
	width: 100%;
}
.align_center {
	text-align: center;
}
.sound_control {
	width: 1px;
	height: 1px;
	overflow: hidden;
	opacity: 0;
	z-index: 1;
	position: absolute;
}
.offon {
	width: 0.46rem;
	position: absolute;
	z-index: 100;
	right: 0.4rem;
	bottom: 0.6rem;
	display: none;
}
/*z-index*/

.zIndex_1 {
	position: absolute;
	z-index: 1;
}
.zIndex_2 {
	position: absolute;
	z-index: 2;
}
.zIndex_3 {
	position: absolute;
	z-index: 3;
}
.zIndex_4 {
	position: absolute;
	z-index: 4;
}
.zIndex_5 {
	position: absolute;
	z-index: 5;
}
.zIndex_6 {
	position: absolute;
	z-index: 6;
}
.zIndex_7 {
	position: absolute;
	z-index: 7;
}
.zIndex_8 {
	position: absolute;
	z-index: 8;
}
.zIndex_9 {
	position: absolute;
	z-index: 9;
}
.icon_arrow {
	width: 100%;
	bottom: 0;
}
.wrap_loading {
	width: 100%;
	height: 100%;
}
.loading {
	width: 0.5rem;
	top: 50%;
	left: 50%;
	margin-left: -0.25rem;
	margin-top: -0.25rem;
}
.wrap_scene {
	width: 100%;
	height: 100;
	position: relative;
	display: none;
}
.swiper-container {
	width: 100%;
	height: 100;
	position: relative;
}
.scene {
	width: 100%;
	height: 100;
	position: relative;
}